*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #002;

    --error-color: #900;
}

.errorMessage {
    color: var(--error-color);
    margin-block: 0.2rem;
    display: inline-flex;
    justify-items: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 800;
    gap: 1rem;
}
