.loginPage {
    max-width: 100vw;
    max-height: 100vh;
    width: 100dvw;
    height: 100dvh;
    display: grid;
    place-items: center;
    background-color: #fff;
}

.loginFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 36rem;
    padding: 4rem;
    gap: 4rem;

    box-shadow: 0 2px 9px -4px #8f8d93;
    border-radius: 1.2rem;

    img {
        max-width: 16rem;
        aspect-ratio: 64 / 21;
    }
}

.loginFieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 1rem;
    border: 0;

    legend {
        font-weight: 500;
        font-size: 1.2rem;
        text-align: center;
    }

    form {
        width: 100%;
    }

    button {
        display: block;
        width: fit-content;
        height: fit-content;
        margin: 1rem auto;
        padding: 0.6rem 4rem;

        border-radius: 4px;
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        border: none;
    }
}

.formInput {
    width: 100%;
    display: grid;
    grid-template-rows: auto repeat(2, 1fr);

    label {
        font-size: 0.8rem;
        margin-block: 0.5rem;
    }

    label::after {
        content: "*";
        color: #900;
        margin: 0 2px;
    }

    div {
        display: flex;
        position: relative;
        padding-inline: 2rem;
        width: 100%;
        height: fit-content;
        padding: 0.5rem 2rem;
        border-radius: 4px;
        border: 1px solid #8f8d93;

        input {
            width: 100%;
            border: none;
            font-size: 1rem;
        }

        input:focus-visible {
            outline: none;
        }

        .inputIcon {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-block: auto;
            color: #1840b2;
        }

        .iconItem {
            left: 4px;
            padding: 0.25rem;
        }

        .showPassword {
            display: grid;
            place-items: center;
            right: 4px;

            svg {
                padding: 0.2rem;
            }
        }
    }
}

@media (max-width: 699px) {
    .loginFormContainer {
        box-shadow: none;
        width: 100%;
        padding: 2rem;
    }
}
